.bioContainer {
 background-color: #FBE3A3;
 height: 100%;
}

.bioLeft {
  background-color: #FBE3A3;
  border: #FBE3A3;
}

.row {
  background-color: #FBE3A3;
  border: #FBE3A3;
}

.col-auto {
  width: 500px;
  color: #4B240B;
}

.bioImg {
  width: 75%;
}

.linkImg {
  max-width: 20px;
}

.col {
  padding: 100px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 100px;
  color: #4B240B;
}

#deleteBio {
  background-color: #4B240B;
}

#editBio {
  background-color: #4B240B;
}
.mb-2 {
  color: #4B240B;
}
