@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.resumeContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.resumeCardHolder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#resumeCards {
  width: 400px;
  margin: 25px;
  font-family: 'Unica One', cursive;
}

#deleteResume {
  background-color: #4B240B;
  font-family: 'Unica One', cursive;
}

#editResume {
  background-color: #4B240B;
  font-family: 'Unica One', cursive;
}
