@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.techContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.techCardHolder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#techCards {
  width: 800px;
  margin: 75px;
  font-family: 'Unica One', cursive;
}

#deleteTech {
  background-color: #4B240B;
  font-family: 'Unica One', cursive;
}

#editTech {
  background-color: #4B240B;
  font-family: 'Unica One', cursive;
}
