@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.techView {
  background-color: #FBE3A3;
  height: 100%;
  font-family: 'Unica One', cursive;
}

#addTech {
  background-color: #4B240B;
  font-family: 'Unica One', cursive;
}

#closeForm {
  background-color: #4B240B;
  font-family: 'Unica One', cursive;
}
